# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars
override.tf
override.tf.json

# Ansible
*.retry

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
*.swp
*.swo

# Kiro
.kiro/
